<div class="container">

    <div class="container main-section">

        <div class="row">
            <div class="col-sm-4 offset-sm-4 col-xs-12">
                <img src="images/header_burger.jpg" width="75%" height="auto" alt="header burger image">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2 class="title">Eat-Da-Burger!</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div id="devour-false">
                    {{#each burgers}}
                    {{#unless devoured }} {{burger_name}} {{/unless}}
                    {{/each}}
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div id="devour-true">
                    {{#each burgers}}
                    {{#if devoured}} <div> {{burger_name}} </div> {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 offset-sm-3 col-xs-12">
                <form class="create-form">

                    <div class="form-group">
                        <input type="text" class="form-control" id="new-burger" name="burger-name">
                    </div>

                    <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 offset-sm-3 col-xs-12">
                Enter a burger you want to eat then click Submit button.
            </div>
        </div>
    </div>
</div>