body {
  background-color: #ffcc66;
}

.main-section {
  text-align: center;
}

.title {
  color: #ff4d4d;
  font-weight: bold;
}

.burger-name {
  background-color: white;
  padding: 0.4rem 2rem;
  margin: 0.4rem 1rem;
}

.devour-btn,
.delete-btn {
  background-color: #ededed;
  padding: 0.4rem 2rem;
  margin: 0.4rem 1rem;
}

.new-burger {
  margin-top: 1.5rem;
}
